<div>
    <p>
        Request for password change
    </p>
    <br>
    <br>
    <p>
        <a href='http://localhost:8000/users/reset_password/<%= accesstoken %>'>
           Click here to change password
        </a>
    </p>
    <br>
    <br>
    <p>Thanks</p>
</div>