<p>
   Forgot Password?
</p>
<form action="/users/forgotbuttonpressed" method="POST">
    <input type="email" name="email" placeholder="Email" required>
    <input type="submit" value="Submit" >
</form>